body {
	background: hotpink;
}
.cont {
	border: solid 10px black;
	background-image: url('home.jpg');

}
.img {
	height: 290px;
	width: 300px;
}
.img2 {
	height: 290px;
	width: 350px;
	position: relative;
	right: 305px;
}


.homeh1 {
	text-align: center;
}

#img {bottom: 15%;
	position: relative; 
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 25s;
}     
@-webkit-keyframes run {
    0% { left: 0;}
    50%{ left : 100%;}
    100%{ left: 0 ;}
}


.pcont {
	border: dashed 2px black;
	width: 30%;
	text-align: center;
	display: inline-block;
}

.pcontsec {
	border: dashed 2px black;
	width: 30%;
	text-align: center;
	display: inline-block;
	position: relative;
	left: 315px;
}