html {
	color: #424141;
}
	
body {
	background: hotpink;
}
.cont {
	border: solid 10px black;
	background-image: url('home.jpg');

}
.img {
	height: 290px;
	width: 300px;
}
.img2 {
	height: 290px;
	width: 350px;
	position: relative;
	left: 600px;
}


.homeh1 {
	text-align: center;
}

#img {bottom: 15%;
	position: relative; 
    animation: infinite alternate;
    animation-name: run;
    animation-duration: 10s;
}     
@keyframes run {
    0% { left: 0;}
    50%{ left : 47.9%;}
    100%{ left: 0 ;}
}


.pcont {
	border: dashed 2px black;
	width: 30%;
	text-align: center;
	display: inline-block;
}

.pcontsec {
	border: dashed 2px black;
	width: 30%;
	text-align: center;
	display: inline-block;
	position: relative;
	left: 315px;
}
=======
	margin: 0;
}

h1 {
	text-align: center;
}


.obama {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    }


p {
	text-align: justify;
	font-family: arial;
	margin-left: 20px;
	margin-right: 20px;
	padding-right: 20px;
}

h1{color: #1b2b47;
	font-family: arial; 
	margin-left: 20px;
}

.bean {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

.list {
    list-style-type: none;
    font-family: futura;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute; 
    right: 20px; top: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
	float: left;
}

li a:hover {
    background-color: darkgrey;
}



>>>>>>> 0afc1267dc86c15f84906555cb92ac99798a8d3d
