
html {
	color: #424141;
}
	
body {
	margin: 0;
}

h1 {
	text-align: center;
}

.box {
	background: lightgreen;
	height: 75px;
	z-index: -1;
}


p {
	text-align: justify;
	font-family: arial;
	margin-left: 20px;
	margin-right: 20px;
	padding-right: 20px;
}

h1{color: #1b2b47;
	font-family: arial; 
	margin-left: 20px;
}

.bean {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

.list {
    list-style-type: none;
    font-family: futura;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute; 
    right: 20px; top: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
	float: left;
}

li a:hover {
    background-color: darkgrey;
}



